<link rel="stylesheet" href="css/tintuc.css">
<div class="container"  style="padding:20px;">
     <center><h3>{{a}}</h3></center>
     <h1 style="margin-top: 25px; font-size: 2rem; font-weight: bold;">Liên hệ</h1>
<p class="titlt-text-lh">Chúng tôi luôn sẵn sàng tiếp nhận mọi ý kiến ​đóng góp và giải đáp những yêu cầu của bạn. <br>
    Hãy liên hệ ngay với chúng tôi</p>

<div class="row">
    <div class="col-md-5 lh-item">
        
            <p><i class="fas fa-home" style="margin-right: 5px;"></i>Số 32 Ngõ 91, Cầu Diẽn, Quận Bắc Từ Liêm, TP. Hà Nội</p>
            <p><i class="fas fa-phone"style="margin-right: 5px;"></i>0867699841</p>
            <p><i class="fas fa-phone"style="margin-right: 5px;"></i>0867699841</p>
            <p><i class="fas fa-envelope"style="margin-right: 5px;"></i>thucldph22733@fpt.edu.vn</p>
           
            <label for="" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" name="" placeholder="Nhập tên đầy đủ...">

            <label for="" class="form-label">Email</label>
            <input type="email" class="form-control" name="" placeholder="Nhập email...">
            <label for="" class="form-label">Điện thoại</label>
            <input type="text" class="form-control" name="" placeholder="Nhập số điện thoại...">
            <label for="" class="form-label">Nội dung</label>
            <textarea class="form-control" placeholder="Nhập nội dung liên hệ..." rows="3"></textarea>
            <a class="btn btn-primary" href="#" role="button" style="margin-top: 10px; background-color: rgb(227, 124, 51); width: 80px; border:none;">Gửi đi</a>
       
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.7103419455307!2d105.74890401411193!3d21.04427289262627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454ec40f7208f%3A0x196126c462692572!2zTmfDtSA5MSBD4bqndSBEaeG7hW4sIEtp4buBdSBNYWksIFBow7pjIERp4buFbiwgQuG6r2MgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1675855248308!5m2!1svi!2s"
            width="550" height="500" style="border:1px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
</div>