<link rel="stylesheet" href="css/trangchu.css">

<div class="container" style="padding:20px;">
  <center>
    <h3 class="card-title2"
    style="font-weight: bolder;font-size: 30px;">
      {{b}}</h3>
  </center>
  <hr>
  <div class="row">
    <div class="card-group">
      <div class="row">
        <div class="col-md-3">
          <div style=" background: -webkit-linear-gradient(left, rgb(rgb(69, 80, 235)0, 255),rgb(111, 0, 255),rgb(195, 0, 255));" class="card">
            <div class="bg-image hover-zoom"> <img class="card-img-top" style="background-color: rgb(50, 106, 170);" src="img/c1.svg" alt=""></div>
            <div class="card-body">
              <h5 class="card-title">Chủ đề 1: Tư duy lập trình và nền tảng</h5>
              <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
              <span class="card-text">1090000 Đ</span>
              <span class="card-text2">900000 Đ</span>
              <p>
              <div class="middle">
                <div>
                  <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                </div>
              </div>
              </p>
              <a href="#!/dang-ky" ng-click="cl()" class="btn btn-primary">Đăng ký Khóa Học</a>
            </div>
            <div class="card-footer text-muted">
              <marquee style="font-weight: bold;" direction="right">Khóa Học giảm giá 15%</marquee>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card" style=" background: -webkit-linear-gradient(left, rgb(rgb(69, 80, 235)0, 255),rgb(111, 0, 255),rgb(195, 0, 255));">
            <img class="card-img-top" style="background-color: rgb(19, 102, 102);" src="img/c2.png" alt="">
            <div class="card-body">
              <h5 class="card-title">
                Chủ đề 2: HTML, CSS, HTML5, CSS3, Layout, Flexbox qua nhiều dự án nền tảng đến chuyên sâu
              </h5>
              <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
              <span class="card-text">1290000 Đ</span>
              <span class="card-text2">1100000 Đ</span>
              <p>
                <div class="middle">
                  <div>
                    <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                  </div>
                </div>
                </p>
              <a href="#!/dang-ky" ng-click="cl2()" class="btn btn-primary">Đăng ký Khóa Học</a>
            </div>
            <div class="card-footer text-muted">
              <marquee style="font-weight: bold;" direction="left">Khóa Học giảm giá 15%</marquee>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card" style="background: -webkit-linear-gradient(left, #0b2ef1, #6200ff,rgb(255, 0, 157));">
            <img class="card-img-top" style="background-color: rgb(234, 8, 255);" src="img/c3.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Chủ đề 3: Bootstrap và Responsive design trong thực tế</h5>
              <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng -12 Tháng</h6>
              <span class="card-text">1.200.000 Đ</span>
              <span class="card-text2">999.000 Đ</span>
              <p>
                <div class="middle">
                  <div>
                    <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                  </div>
                </div>
                </p>
              <a href="#!/dang-ky" ng-click="cl3()" class="btn btn-primary">Đăng ký Khóa Học</a>
            </div>
            <div class="card-footer text-muted">
              <marquee style="font-weight: bold;" direction="right">Khóa Học giảm giá 12%</marquee>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card" style="background: -webkit-linear-gradient(left,#b7d376,rgb(217, 219, 79),rgb(223, 82, 82));">
            <img class="card-img-top" style="background-color: rgb(245, 82, 60);" src="img/c4.png" alt="">
            <div class="card-body">
              <h5 class="card-title">Chủ đề 4: Nền tảng & chuyên sâu SASS/SCSS thực tế qua dự án</h5>
              <h6 class="card-subtitle mb-1 text-muted">Khóa học 5 Tháng - 6 Tháng - 9 Tháng</h6>
              <span class="card-text">990.000 Đ</span>
              <span class="card-text2">750.000 Đ</span>
                <p>
                <div class="middle">
                  <div>
                    <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                  </div>
                </div>
                </p>
              <a href="#!/dang-ky" ng-click="cl4()" class="btn btn-primary">Đăng ký Khóa Học</a>
            </div>
            <div class="card-footer text-muted">
              <marquee style="font-weight: bold;" direction="left">Khóa Học giảm giá 20%</marquee>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 40px;" class="card-group">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" style="background-color:  rgb(125, 153, 211);" src="img/c5.svg" alt="">
              <div class="card-body">
                <h5 class="card-title">Chủ đề 5: Tư duy lập trình & nền tảng</h5>
                <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
                <span class="card-text">1.100.000 Đ</span>
                <span class="card-text2">980.000 Đ</span>
                <p>
                  <div class="middle">
                    <div>
                      <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                    </div>
                  </div>
                  </p>
                <a href="#!/dang-ky" ng-click="cl5()" class="btn btn-primary">Đăng ký Khóa Học</a>
              </div>
              <div class="card-footer text-muted">
                <marquee style="font-weight: bold;" direction="right">Khóa Học giảm giá 19%</marquee>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" style="background-color: rgb(130, 245, 182);" src="img/c6.png" alt="">
              <div class="card-body">
                <h5 class="card-title">Chủ đề 6: Lập trình xử lý Mảng, Chuỗi, Hàm, CTDL căn bản chuyên sâu</h5>
                <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
                <span class="card-text">1.350.000 Đ</span>
                <span class="card-text2">1.200.000 Đ</span>
                <p>
                  <div class="middle">
                    <div>
                      <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                    </div>
                  </div>
                  </p>
                <a href="#!/dang-ky" ng-click="cl6()" class="btn btn-primary">Đăng ký Khóa Học</a>
              </div>
              <div class="card-footer text-muted">
                <marquee style="font-weight: bold;" direction="left">Khóa Học giảm giá 12%</marquee>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" style="background-color: rgb(85, 123, 194);" src="img/c7.png" alt="">
              <div class="card-body">
                <h5 class="card-title">
                  Chủ đề 7: Thuật toán nền tảng qua các dự án</h5>
                <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
                <span class="card-text">1.100.000 Đ</span>
                <span class="card-text2">900.000 Đ</span>
                <p>
                  <div class="middle">
                    <div>
                      <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                    </div>
                  </div>
                  </p>
                <a href="#!/dang-ky" ng-click="cl7()" class="btn btn-primary">Đăng ký Khóa Học</a>
              </div>
              <div class="card-footer text-muted">
                <marquee style="font-weight: bold;" direction="right">Khóa Học giảm giá 15%</marquee>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" style="background-color: rgb(236, 162, 220);" src="img/c8.png" alt="">
              <div class="card-body">
                <h5 class="card-title">Chủ đề 8: Lập trình hướng đối tượng nền tảng chuyên sâu</h5>
                <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
                <span class="card-text">1.190.000 Đ</span>
                <span class="card-text2">900.000 Đ</span>
                <p>
                  <div class="middle">
                    <div>
                      <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                    </div>
                  </div>
                  </p>
                <a href="#!/dang-ky" ng-click="cl8()" class="btn btn-primary">Đăng ký Khóa Học</a>
              </div>
              <div class="card-footer text-muted">
                K <marquee style="font-weight: bold;" direction="left">Khóa Học giảm giá 17%</marquee>
              </div>
            </div>
          </div>
        </div>

        <div style="margin-top: 40px; margin-bottom: 50px;" class="card-group">
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top" style="background-color: rgb(156, 106, 127);" src="img/c9.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">Chủ đề 9: Toàn tập Javascript, JS DOM & JS OOP nền tảng và chuyên sâu</h5>
                  <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
                  <span class="card-text">999.000 Đ</span>
                  <span class="card-text2">900.000 Đ</span>
                  <p>
                    <div class="middle">
                      <div>
                        <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                      </div>
                    </div>
                    </p>
                  <a href="#!/dang-ky" ng-click="cl9()" class="btn btn-primary">Đăng ký Khóa Học</a>
                </div>
                <div class="card-footer text-muted">
                  <marquee style="font-weight: bold;" direction="right">Khóa Học giảm giá 10%</marquee>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top" style="background-color: rgb(235, 224, 190);" src="img/c10.svg" alt="">
                <div class="card-body">
                  <h5 class="card-title">Chủ đề 10: Javascript ES6 nền tảng và chuyên sâu</h5>
                  <h6 class="card-subtitle mb-1 text-muted">Khóa học 8 Tháng - 9 Tháng - 10 Tháng</h6>
                  <span class="card-text">1.290.000 Đ</span>
                  <span class="card-text2">1.000.000 Đ</span>
                  <p>
                    <div class="middle">
                      <div>
                        <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                      </div>
                    </div>
                    </p>
                  <a href="#!/dang-ky" ng-click="cl10()" class="btn btn-primary">Đăng ký Khóa Học</a>
                </div>
                <div class="card-footer text-muted">
                  <marquee style="font-weight: bold;" direction="left">Khóa Học giảm giá 21%</marquee>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top" style="background-color: rgb(223, 174, 238);" src="img/c11.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">
                    Chủ đề 11: Javascript Axios ES với API nền tảng & chuyên sâu</h5>
                  <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 5 Tháng - 6 Tháng</h6>
                  <span class="card-text">1.090.000 Đ</span>
                  <span class="card-text2">890.000 Đ</span>
                  <p>
                    <div class="middle">
                      <div>
                        <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                      </div>
                    </div>
                    </p>
                  <a href="#!/dang-ky" ng-click="cl11()" class="btn btn-primary">Đăng ký Khóa Học</a>
                </div>
                <div class="card-footer text-muted">
                  <marquee style="font-weight: bold;" direction="right">Khóa Học giảm giá 15%</marquee>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card">
                <img class="card-img-top" style="background-color: rgb(170, 221, 208);" src="img/c12.png" alt="">
                <div class="card-body">
                  <h5 class="card-title">Chủ đề 12: Git, công cụ quản lý nhóm, mô hình Scrum/Agile</h5>
                  <h6 class="card-subtitle mb-1 text-muted">Khóa học 5 Tháng - 9 Tháng - 10 Tháng</h6>
                  <span class="card-text">1.100.000 Đ</span>
                  <span class="card-text2">910.000 Đ</span>
                  <p>
                    <div class="middle">
                      <div>
                        <h5 class="text"><a style="color: black;font-weight: bold;" href="#!/dang-ky">Đăng Ký</a></h5>
                      </div>
                    </div>
                    </p>
                  <a href="#!/dang-ky" ng-click="cl(12)" class="btn btn-primary">Đăng ký Khóa Học</a>
                </div>
                <div class="card-footer text-muted">
                  <marquee style="font-weight: bold;" direction="left">Khóa Học giảm giá 18%</marquee>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <center>
        <a style="margin-top: 10px;" href="#!/">Xem Thêm..</a>
      </center>
    </div>
    <hr>
    <center>
      <h3 class="card-title2" style="font-weight: bolder;font-size: 30px;">Các Khóa Học Sắp ra mắt</h3>
    </center>
    <div style="margin-top: 10px;" class="card-group">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" style="background-color: rgb(159, 208, 223);" src="img/c13.svg" alt="">
            <div class="card-body">
              <h5 class="card-title">ReactJS chuyên sâu trên nhiều componentg</h5>
              <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
              <span class="card-text2">Dự Kiến:</span>
              <span class="card-text2">1.380.000 Đ</span>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" style="background-color: rgb(109, 115, 199);" src="img/c14.png" alt="">
            <div class="card-body">
              <h5 class="card-title"> React hook, redux toolkit - Dự án Đặt vé phim trực tuyến</h5>
              <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
              <span class="card-text2">Dự Kiến:</span>
              <span class="card-text2">1.280.000 Đ</span>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" style="background-color: rgb(161, 143, 179);" src="img/c15.png" alt="">
            <div class="card-body">
              <h5 class="card-title">TypeScript - Tổ chức dự án React bằng TypeScript</h5>
              <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
              <span class="card-text2">Dự Kiến:</span>
              <span class="card-text2">1.100.000 Đ</span>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" style="background-color: rgb(148, 127, 146);" src="img/c16.png" alt="">
            <div class="card-body">PHÂN TÍCH DỮ LIỆU THỰC TẾ VỚI PYTHONg</h5>
              <h6 class="card-subtitle mb-1 text-muted">Khóa học 3 Tháng - 6 Tháng - 9 Tháng</h6>
              <span class="card-text2">Dự Kiến:</span>
              <span class="card-text2">1.500.000 Đ</span>
              <p></p>
            </div>
          </div>
        </div>

        

      </div>
    </div>
  </div>